<h1>Nuevo departamento</h1>

<form method="post">
    <label>Número</label>
    <input type="number" name="iddepartamento"
           class="form-control"/><br/>
    <label>Nombre</label>
    <input type="text" name="nombre"
           class="form-control"/><br/>
    <label>Localidad</label>
    <input type="text" name="localidad"
           class="form-control"/><br/>
    <button class="btn btn-dark">
        Insertar departamento
    </button>
</form>